body {
  background: #262626;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  justify-content: center;
  background: #383838;
  padding: 15px;
  border-radius: 6px;
  box-shadow: #262626 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.field-login {
  position: relative;
  padding: 10px;
  margin: 0 66px 0 66px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.form-fields {
  height: 35px;
  width: 300px;
  border: none;
  border-radius: 6px;
  padding: 0px 10px;
  background: #565656;
  color: white;
  box-shadow: #262626 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.field-pass {
  display: flex;
  padding: 5px 0px;
}

.check-links {
  display: inline-flex;
  justify-content: space-between;
  width: 320px;
  padding-bottom: 20px;
}

.checkbox {
  font-size: 14px;
}

.links {
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin-top: 2px;
}

.links:hover {
  color: #479dff;
}

.button { 
  position: relative;
  justify-content: center;
  padding: 20px;
}

.btn {
  background: #479DFE;
  border-color: #479DFE;
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
}

.btn:active {
  background: #1687ff;
}

.alert {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  padding: 0 10px 0 10px;
  background: #479DFE;
  max-width: 100%;
  line-height: 50px;
}

.close {
  position: relative;
  align-self: center;
  height: 25px;
  color: black;
  background: #8ec5ff;
  border: #2f7fd6;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
}

.close:hover {
  color: black;
  border-style: solid;
  background: #2f7fd6;
}